
/*=================================================================
  @media screen 2560px
==================================================================*/

@media only screen and (min-width: 2560px){
  .container {
    width: 2000px;
  }
}


/*=================================================================
  @media screen 1440px
==================================================================*/


@media only screen and (min-width: 1440px){
   
  


}



/*=================================================================
  @media screen 1220px
==================================================================*/


@media only screen and (max-width: 1220px){

  .__fotopimg {
    margin-top: -33.6%;
  }

}


/*=================================================================
  @media screen 1199px
==================================================================*/


@media only screen and (max-width: 1199px){

  .__colat {
    font-size: 56px;
  }

  .__prefct {
    width: 180px;
  }
 
  .__locateline-hr {
    width: 77.5%;
  }

  .__price-fee-card, .__price-fee-card1 {
    padding: 1rem;
  }

  .__dbimg {
    width: 320px;
  }

  .__fotopimg {
    margin-top: -33.6%;
  }

  #accordion .panel-title a.collapsed {
    font-size: 13px;
  }

  


}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media only screen and (max-width: 1024px){

  .__carousel-innert>.item> .__img {
    height: 515px;
  }

  .__colat {
    font-size: 55px;
  }

  .__searvp{
    font-size: 30px;
  }

  .__prefct {
    width: 180px;
  }
 
  .__locateline-hr {
    width: 77.5%;
  }

  .__price-fee-card, .__price-fee-card1 {
    padding: 1rem;
  }

  .__dbimg {
    width: 320px;
  }

  .__fotopimg {
    margin-top: -39.6%;
  }

  #accordion .panel-title a.collapsed {
    font-size: 13px;
  }

  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media only screen and (max-width: 992px){

  .__prefct {
    width: 180px;
  }
 
  .__locateline-hr {
    width: 77.5%;
  }

  .__price-fee-card, .__price-fee-card1 {
    padding: 1rem;
  }

  .__fotopimg {
    margin-top: -40.6%;
  }



}



/*=================================================================
  @media screen 991px
==================================================================*/

@media only screen and (max-width: 991px){

  .__navlink {
    padding: 10px 8px !important;
  }

  .__caption {
    font-size: 40px;
    margin-top: 13px;
  }

  .__dbser1 {
    font-size: 27px;
  }

  .__searvp {
    font-size: 26px;
    margin-top: 1rem;
  }

  .__searvp1 {
    font-size: 15px;
  }

  .__procimg {
    width: 40px;
    margin-top: 0;
  }

  .__pro-anim {
    height: 60px;
    width: 60px;
    margin-left: -10px;
  }

  .__abhavis {
    font-size: 40px;
  }

  .__pritflex {
    justify-content: center;
  }

  .__contp {
    font-size: 30px;
  }

  .__price-fee-card, .__price-fee-card1 {
    padding: 1rem;
  }

  .__price-fee1 {
    font-size: 28px;
    line-height: 20px;
  }

  .__price-brd {
    font-size: 17px;
  }

  .__price-entail p {
    font-size: 14px;
  }

  .__dbimg {
    width: 286px;
  }

  .__fotopimg {
    margin-top: -40.6%;
  }





}


/*=================================================================
  @media screen 800px
==================================================================*/

@media only screen and (max-width: 800px){

  .__navlink {
    padding: 10px 8px !important;
  }

	.__carousel-innert>.item> .__img {
    height: 427px;
  }

  .__searvp {
    font-size: 27px;
    margin-top: 0;
  }

  .__fotp {
    font-size: 25px;
  }

  .__colat {
    font-size: 45px;
    padding-top: 7rem;
  }

  .__colat1 {
    font-size: 22px;
  }

  .__searvp2 {
    font-size: 16px;
  }

  .__allbg {
    padding: 125px 0;
  }

  .__foter {
    padding: 3rem 0;
  }

  .__contp {
    font-size: 30px;
  }

  .__contdiv {
    margin-top: 4rem;
  }

  .__price-div {
    margin-top: -3rem;
  }

  .__price-fee-card, .__price-fee-card1 {
    padding: 1rem;
  }

  .__price-fee1 {
    font-size: 25px;
    line-height: 17px;
  }

  .__price-entail p {
    font-size: 13px;
  }

  .__price-brd {
    font-size: 18px;
  }

  .__price-img {
    font-size: 50px;
  }

  .__abhavis {
    font-size: 40px;
  }

  .__locateline-hr {
    width: 77.5%;
  }

  .__procimg {
    width: 40px;
    margin-top: 0;
  }

  .__pro-anim {
    height: 60px;
    width: 60px;
    margin-left: -10px;
  }

  .__caption {
    font-size: 33px;
    margin-top: 20px;
  }

  .__dbimg {
    width: 284px;
  }

  .__fotopimg {
    margin-top: -52.4%;
  }

  


}

/*=================================================================
  @media screen 767px
==================================================================*/

@media only screen and (max-width: 767px){

  

  
}




/*=================================================================
  @media screen 560px
==================================================================*/


@media only screen and (max-width: 560px){

	.__flexsmail{
    display: flex;
    flex-direction: column;
  }

  .__mobidown{
    order: 2;
  }

  .__mobiup{
    order: 1;
  }

  .__carousel-controlt span {
    font-size: 25px !important;
    padding: 2px 0px;
  }

  .__dbimg {
    height: 215px;
  }

  .__foter {
    padding: 1rem 0;
  }

  .__carousel-innert>.item> .__img {
    height: 250px;
  }

  .__foter-img {
    width: 108px;
    height: 108px;
  }

  .__marabgin, .__marabgin1 {
    height: 268px;
  }

  .__marabgin1 {
    margin-right: 0;
  }

  .__marabgin {
    margin-left: 0;
  }

  .__searvp{
    font-size: 20px;
    margin-top: 2rem;
  }

  .__searvp1 {
    font-size: 13px;
  }

  .__colat {
    font-size: 20px;
    padding-top: 5rem;
  }

  .__colat1 {
    font-size: 16px;
  }

  .__crbtn {
    font-size: 9px;
    margin-top: 1rem;
  }

  .__fotp {
    font-size: 25px;
  }

  .__fotp1 {
    font-size: 18px;
  }

  .__caption, .__dbser {
    font-size: 30px;
  }

  .__dbser {
    margin-top: 2rem;
  }

  .__dbser1 {
    font-size: 20px;
  }

  .__allbg {
    padding: 50px 0;
  }

  .__abvis {
    font-size: 30px;
  }

  .__abalcap {
    font-size: 25px;
  }

  .__abhavis {
    font-size: 30px;
    margin-top: 2rem;
  }

  .__procbtn {
    font-size: 10px;
  }

  .__fotopimg {
    margin-top: -126.3%;
  }

  .__contp {
    font-size: 25px;
  }

  .__dbslimg{
    height: 160px;
  }

  .__bolprs {
    font-size: 23px;
  }

  .__bolprs1 {
    font-size: 20px;
  }

  .__price-div {
    margin-top: -3rem;
  }

  .__price-fee-card, .__price-fee-card1 {
    padding: 1rem;
  }

  .__prefct {
    width: 142px;
  }

  .__prin-anim {
    height: 112px;
    width: 112px;
  }

  .__prin-animimg {
    width: 54px;
  }

  .__prin-animp {
    font-size: 16px;
  }

  .__locateline-hr {
    display: none;
  }

  .__contdiv {
    margin-top: 1rem;
  }

  .__formbtn {
    margin-bottom: 15px;
  }

  .popup {
    width: 300px;
    height: 300px;
  }

  .__procest {
    font-size: 17px;
  }

  .__procest1, .__absvis {
    font-size: 15px;
  }

  .__pro-anim {
    height: 45px;
    width: 45px;
    margin-left: -5px;
  }

  .__procimg {
    width: 28px;
    margin-top: 0;
  }

  .__price-fee1 {
    font-size: 36px;
    line-height: 46px;
  }

  .__fcvip {
    font-size: 20px;
  }

  #accordion .panel-title a:before, #accordion .panel-title a.collapsed:before {
    font-size: 12px;
    top: 8px;
    right: 1px;
  }

  #accordion .panel-title a.collapsed {
    font-size: 15px;
  }

  #accordion .panel-title a:after {
    display: none;
  }

  .__dbimg {
    float: unset;
    width: 100%;
    margin-left: 0;
  }

  .__navlink:hover .__hovef:before, .__navlink:hover .__hovef:after, .__navlink:hover:after{
    display: none;
  }


}



